* {
  box-sizing: border-box;
}

body {  
  background-color: #EEF9BF;
  font-family: Roboto, Arial, sans-serif;
}

header {
  background-color: #6ae866;
  color: #1b5719;
  width: 100vw;
  height: 30px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content:flex-end;
  padding-right: 20px;
  font-size: 18px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10vh;
  width: 100%;
  height: 100vh;
  margin: auto;
}

main h1 {
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  color: #75B79E;
  margin-top: 80px;
}

main .game {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  width: 80%;
}

main .game .card {
  height: 146px;
  width: 117px;
  background-color:#A7E9AF;
  border-radius: 5px;
  position: relative;
}

main .game .card .front-card, .back-card {
  margin: 24px 10px;
}


main .game .card .face {
  position: absolute;
  backface-visibility: hidden;
  transition: all .5s;
  transform-style: preserve-3d;
}

.front-card {
  transform: rotateY(180deg);
}

.card.flip .front-card {
  transform: rotateY(0deg);
}

.card.flip .back-card {
  transform: rotateY(-180deg);
}

@media (max-width: 400px) {
  
  main h1 {
    font-size: 44px;
  }
  
}